/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	margin-top: 80px;
	padding: 0px 250px 0px 35px;
	text-align:justify;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 650;
	font-size: 26px;
}

p {
	font-family: "Merriweather", serif;
	font-weight: 250;
	font-size: 14px;
	line-height: 2;
}


a {
	font-family: "Merriweather", serif;
	font-weight: 300;
	font-size: 14px;
	color: #ff5c33;
	text-decoration: none;
}
	