/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.about {
	grid-column: 1/2;
	grid-row: 1;
	padding: 0px 0px 0px 35px;
	margin-top: 80px;
}

.about h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 650;
	font-size: 24px;
}

.about p {
	font-family: "Merriweather", serif;
	font-weight: 250;
	font-size: 14px;
	line-height: 2;
}

.impressum {
	grid-column: 3/4;
	grid-row: 1;
	margin-top: 90px;
}

.impressum h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 650;
	font-size: 14px;
}

.impressum p {
	font-family: "Montserrat", sans-serif;
	font-weight: 450;
	font-size: 10px;
}

.impressum a {
	font-family: "Montserrat", sans-serif;
	font-weight: 450;
	font-size: 10px;
	color: #ff5c33;
	text-decoration: none;
}
	